@charset "UTF-8";

:root {
    /* color */
    --color-bg-primary: #BAA8A2;
    --color-bg-primary-light: #BAA8A240;

    /* border */
    --color-border: #EEEEEE;

    /* font */
    --color-font-primary: #BAA8A2;
    --color-font-black: #333333;
    --color-font-white: #FFFFFF;
    --color-font-base: #5D5D5D;

    --font-en: 'lato', sans-serif;
    --font-jp: 'Noto Serif JP', serif;

    /* width */
    --width-content: 1080px;
    --width-content-s: 920px;
}

html {
    color: #000;
    background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;  
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: "";
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

/* input,
textarea,
select,
button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    *font-size: 100%;
    border-radius: 0;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: inherit;
} */

input,
textarea,
select {
    font-size: 16px;
}

textarea {
    resize: vertical;
    display: block;
}

button {
    padding: 0;
    cursor: pointer;
}

legend {
    color: #000;
}

main {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

svg {
    display: block;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.8;
    color: var(--color-font-base);
    font-family: var(--font-jp);
    /* font-family: var(--font-en); */
}

/* レイアウト */
.l-container {
    max-width: var(--width-content);
    width: 90%;
    margin: 0 auto;
}

.l-section-b {
    margin-bottom: 80px;
}

.l-section {
    margin: 160px 0;
}

/* コンポーネント */
.c-button {
    background-color: var(--color-bg-primary);
    border: 1px solid var(--color-bg-primary);
    color: var(--color-font-white);
    padding: 18px;
    width: 360px;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.sec-title {
    font-size: 32px;
    color: var(--color-font-black);
    letter-spacing: 0.4em;
    text-align: center;
}

.sec-catch {
    color: var(--color-font-base);
    text-align: center;
}

/* ヘッダー */
.header {
    padding: 10px 20px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    width: 100px;
}

.cart-icon {
    width: 50px;
}

.top-kv {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.top-kv-title {
    font-size: 24px;
    line-height: 2;
}

@media screen and (min-width: 768px) {
    
    .top-kv-text {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    
    .top-kv-img-wrapper {
        display: flex;
    justify-content: flex-end;
}

    .top-kv-img {
        width: 1030px;
    }
}

/* Feature */
.feature-about {
    display: flex;
    flex-direction: column;
}

.feature-about-text {
    margin: 20px;
}

.feature-products-name-en {
    font-size: 14px;
    color: var(--color-font-primary);
    margin: 8px 0;
}

.feature-products-name-ja {
    font-weight: bold;
    margin-bottom: 8px;
}

.feature-products-item {
    margin-bottom: 48px;
}

.feature-about-catch {
    color: var(--color-font-primary);
}

@media screen and (min-width: 768px) {
    .feature-about {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .feature-about-text {
        padding-left: 80px;
    }
    
    .feature-about-img {
        width: 540px;
    }

    .feature-products-items {
        display: flex;
        margin-top: 80px;
        gap: 30px;
    }
}

/* shampoo-img */
.shampoo-img {
    margin: 5px calc(50% - 50vw) 15px;
    width: 100vw;
}

/* LINE UP */
.lineup-flex-item {
    margin: 0 auto;
    margin-bottom: 20px;
}

.lineup-flex-text {
    text-align: center;
    padding: 20px 0;
}

.lineup-flex-name {
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {    
    .lineup-flex-items {
        display: grid;
        width: 800px;
        grid-template-columns: auto auto;
        gap: 20px;
        margin: 0 auto;
    }
}

.sozai-img {
    margin: 5px calc(50% - 50vw) 15px;
    width: 100vw;
}

/* instagram */
.instagram-items {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 120px;
    padding: 48px 0;
    gap: 10px;
}

@media screen and (min-width: 768px) {
    .instagram-items {
        width: 360px;
    }
}

/* フッター直前 */
.footer-bottom {
    background-color: var(--color-bg-primary);
    padding: 40px 20px;
    color: var(--color-font-white);
}

.footer-bottom-logo {
    width: 140px;
    margin: 0 auto;
    display: block;
}

.footer-bottom-menu {
    margin: 25px 0;
    padding-bottom: 15px;
    text-align: center;
}

.footer-bottom-border {
    border-bottom: 1px solid var(--color-border);
}

.footer-bottom-menu-item {
    margin-left: 20px;
}

.footer-bottom-menu-item:first-child {
    margin: 0;
}

.copyright {
    text-align: center;
    font-size: 12px;
}

@media screen and (min-width: 768px) {
    .footer-bottom-menu {
        text-align: left;
    }

    .footer-bottom-logo {
        margin: 0;
    }

    .footer-bottom-inner {
        width: 1080px;
        margin: 0 auto;
    }
}

/*=============================
 * Products
 *===========================*/
.product-page {
    margin: 160px 0;
}

.product-page-inner {
    align-items: center;
}

@media screen and (min-width: 768px) {    
    .product-page-inner {
        padding: 40px;
        display: flex;
        align-items: center;
    }
}

.product-img {
    /* width: 50%; */
    margin: 0 auto;
    display: block;
}

@media screen and (min-width: 768px) {
    .products-text-wrapper {
        width: 100%;
    }
}

.product-text {
    margin-left: 20px;
}

.product-title {
    font-size: 24px;
    margin-left: 20px; 
}

/* 関連商品 */
@media screen and (min-width: 768px) {    
    .related {
        background-color: var(--color-bg-primary-light);
        margin-left: auto;
        margin-right: auto;
        padding: 120px;
    }
}

.related-items {
    flex-direction: column;
    text-align: center;
}

.related-item {
    margin: 20px 0;
}

@media screen and (min-width: 768px) {    
    .related-items {
        display: flex;
        text-align: center;
        margin: 20px;
        flex-direction: row;
    }
}

.related-item {
    padding: 0 10px;
}

.related-item-img {
    /* width: 100%; */
}

@media screen and (min-width: 768px) {
    .related-item-img {
        width: 100%;
    }
}

.related-about-text {
    margin-bottom: 10px;
}

.products-title {
    font-weight: bold;
    font-size: 20px;
}

.margin-adjust {
    margin: 16px 0;
}